@import "tailwindcss";

@theme{
  --color-amber: #D87D4A;
  --color-black-1 : #101010;
  --color-grey-1 : #F1F1F1;
  --color-grey-2: #FAFAFA;
  --color-amber-light : #FBAF85;
  --color-white: #FFFFFF;
  --color-black-2:#000000;
  --color-content:#979797;
  --color-background:rgb(0,0,0,0.5);
  --color-input-warning: oklch(0.637 0.237 25.331);

  --font-manrope : "Manrope";

  --text-header:'1.4rem';
  --text-banner-headline:'6rem';
  --text-banner-subheadline:'2rem';
  --text-banner-headline-letter-spacing:'3.5rem';
  --text-banner-subheadline-letter-spacing:'1.75rem';
  --text-xs: '13px';
  --text-xs--line-height:'25px';
  --text-xs--letter-spacing: '1px';
  --text-sm: '14px';
  --text-sm--letter-spacing:'10px';
  --text-sm--line-height:'19px';
  --text-base: '15px';
  --text-base--letter-spacing:'1.02px';
  --text-base--line-height:'25px';
  --text-lg: '18px';
  --text-lg--letter-spacing: '1.3px';
  --text-lg--line-height:'24px';
  --text-xl:'24px';
  --text-xl--letter-spacing:'1.7px';
  --text-xl--line-height:'28px';
  --text-2xl:'28px';
  --text-2xl--letter-spacing:'2px';
  --text-2xl--line-height:'38px';
  --text-3xl:'32px';
  --text-3xl--letter-spacing:'1.15px';
  --text-3xl--line-height:'36px';
  --text-4xl:'40px';
  --text-4xl--letter-spacing:'1.5px';
  --text-4xl--line-height:'44px';
  --text-5xl:'56px';
  --text-5xl--letter-spacing:'2px';
  --text-5xl--line-height:'58px';

  @keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

  --animate-moveInRight: moveInRight 1s ease-out;
}
:root {
  box-sizing: border-box;
  /*font-size: 62.5%; 1rem = 10px, 10px/16px = 62.5%*/
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  min-height: 100vh;
}


/*
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
  */

.banner {
  height: 85vh;
  
    background: linear-gradient(
        to right bottom,
         rgba(210, 210, 210, 0.5), 
         rgba(120, 120, 120, 0.5)),
    url(https://res.cloudinary.com/dzvbnmljo/image/upload/v1747580207/hero_ov8buc.jpg);
    background-size: cover;
    background-position: top;
}
